<div class="container">

    <!-- TOGGLE BUTTONS -->
    <div class="toggle-group-heading mt-5 text-center">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary btn-outline-dark btn-lg active">
                <input type="radio" name="options" id="hire" autocomplete="off" checked> Hire
            </label>
            <label class="btn btn-secondary btn-outline-dark btn-lg">
                <input type="radio" name="options" id="work" autocomplete="off"> Work
            </label>
        </div>
    </div>
    <!-- <div class="toggle-group-heading mt-5 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary btn-outline-dark btn-lg active">Hire</button>
            <button type="button" class="btn btn-secondary btn-outline-dark btn-lg">Work</button>
        </div>
    </div> -->

    <!-- START THE FEATURETTES -->
    <div class="listings">
        <!-- <hr class="featurette-divider"> -->
        <hr class="">

        <div class="row featurette">
            <div class="col-md-7">
                <h4 class="listing-heading">First Listing heading. <span class="badge badge-info">New</span></h4>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/200x150/auto"
                    alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h4 class="listing-heading">First Listing heading.
                    <span class="badge badge-info mr-1">New</span>
                    <span class="badge badge-warning">Urgent</span>
                </h4>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/200x150/auto"
                    alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h4 class="listing-heading">First Listing heading. <span class="badge badge-info">New</span></h4>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/200x150/auto"
                    alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h4 class="listing-heading">First Listing heading. <span class="badge badge-info">New</span></h4>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/200x150/auto"
                    alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">



    </div>
</div>