<div class="container">

    <!-- TOGGLE BUTTONS -->
    <!-- <div class="toggle-group-heading mt-5 text-center">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary btn-outline-dark btn-lg active">
                <input type="radio" name="options" id="hire" autocomplete="off" checked> Hire
            </label>
            <label class="btn btn-secondary btn-outline-dark btn-lg">
                <input type="radio" name="options" id="work" autocomplete="off"> Work
            </label>
        </div>
    </div> -->

    <!-- 2nd implementation -->
    <!-- <div class="toggle-group-heading mt-5 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button routerLink="/listing-page/hire" type="button" class="btn btn-secondary btn-outline-dark btn-lg active">Hire</button>
            <button routerLink="/listing-page/work" type="button" class="btn btn-secondary btn-outline-dark btn-lg">Work</button>
        </div>
    </div> -->
    <div class="toggle-group-heading mt-5 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button routerLink="hire-listing" routerLinkActive="active" type="button" class="btn btn-secondary btn-outline-dark btn-lg">Hire</button>
            <button routerLink="./work-listing" routerLinkActive="active" type="button" class="btn btn-secondary btn-outline-dark btn-lg">Work</button>
        </div>
    </div>

    <!-- 3rd implementation -->
    <!-- <nav>
        <a routerLink="/hire-listing">Hire</a>
        <a routerLink="/work-listing">Work</a>
    </nav> -->

    <!-- <app-hire-listing></app-hire-listing> -->
    <router-outlet></router-outlet>

</div>