<div class="container">
    <!-- START THE FEATURETTES -->
    <div class="listings">
        <!-- <hr class="featurette-divider"> -->
        <hr class="">

        <div *ngFor="let hirePost of hirePosts">
            <div class="row featurette">
                <div class="col-md-7">
                    <h4 class="listing-heading">{{hirePost.title}}
                        <span class="badge badge-info">New</span>
                        <span class="badge badge-warning">Urgent</span>

                        $10h
                    </h4>
                    <p class="lead">
                        {{hirePost.content}}
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/200x150/auto"
                        alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">
        </div>

        <!-- <div class="row featurette">
            <div class="col-md-7">
                <h4 class="listing-heading">Professional Android Developer 
                    <span class="badge badge-info">New</span>
                    <span class="badge badge-warning">Urgent</span>

                    $10h
                </h4>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/200x150/auto"
                    alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider"> -->



    </div>
</div>